*{
margin: 0;
padding: 0;
font-family: "Inter", sans-serif;
}
.box-container{
    display:flex;
    max-width: 1551px;
    
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 10px;
}
.first-ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
.box-container a{
    text-decoration: none;
    color: #575757;
   
}
.button-common{
  padding: 10px 20px;
  background-color: #1D4ED8;
  color: #FFFFFF ;
  border-radius: 10px;
   text-shadow: none;
   border: none;
}

/* .button-common1{
    padding:40px;
  background-color: #1D4ED8;
  color: #FFFFFF ;
  border-radius: 10px;
   text-shadow: none;
   border: none;
} */
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
}
header div h1{
    color: #FFFFFF;
    font-size:50px ;

}
header div p{
    color: #FFFFFF;
}
.header-text{
    display: flex;
   flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
   
    
    
}
.header-text button{
    
    border-radius: 10px;
    margin-top: 330px;
    padding: 20px 62px;
  background-color: #1D4ED8;
  color: #FFFFFF ;
  border-radius: 10px;
   text-shadow: none;
   border: none;
   font-weight: bold;
   font-size: 18px;

}
.header-text h1{
    margin-top: 120px;
    font-size: 80px;
}
.header-text p{
    
    width: 830px;
    font-size: 24px;
   
    margin-top: 30px;
   
}
main{
    
    max-width: 1400px;
    margin: auto;
}
.flex-pic{
    display: flex;
    justify-content: center;
    gap: 24px;
    
    
}
.first-p{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 56px;
    font-size: 56px;
    font-weight: bold;
    
}
.info{
    
    border-radius: 10px;
    
    border: 2px solid #ece9e9;
}
.expert{
    margin-top: 24px;
    margin-left: 24px;
    color: #2563EB;
    font-weight: 600;
    font-size: 12px;
}
.name1{
    margin-left: 24px;
    font-weight: 600;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}
.position{
    margin-left: 24px;
    
    font-size: 14px;
    
    margin-top: 8px;
    color: #575757;
    margin-bottom: 24px;
}
.gap-between{
    margin-top: 32px;
}
.secure-spot{
    text-align: center;
}
.secure-spot h1{
    
    margin-top: 100px;
    font-size: 48px;
    
}
.secure-spot p{
    margin-top: 12px;
    margin-bottom: 48px;
}
.pricing-box{
    border: 2px solid #ece9e9;
    border-radius: 10px;
    padding: 32px;
    
}
.p1{
    color: #888888;
    font-size: 13px;
    margin-bottom: 20px;
}
.pricing-box ul{
    margin-top: 20px;
   
   
}
.pricing-box ul li{
    margin-top: 10px;
    
}
.pricing-box ul li::marker{
color: #2563EB;
}
.button-change1{
    margin-top: 20px;
    padding: 11px 106px;
    border: 2px solid #2563EB;
    background-color: white;
    border-radius: 10px;
    
}
.a1{
    text-decoration: none;
    color: #2563EB;
}
.pricing-box2{
    background-color: #0D1B2A;
    margin-left: 5px;
}
.p2{
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 20px;
}
.colorchange2{
color: #FFFFFF;
}
.button-change2{
    background-color: #2563EB;
    margin-top: 20px;
    padding: 11px 106px;
    border: 2px solid #2563EB;
    
    border-radius: 10px;

}
.a2{
    color: #FFFFFF;
    text-decoration: none;
}
.button-change3{
    background-color: #F8F9FB;
    margin-top: 20px;
    padding: 11px 106px;
    border: 2px solid #0D1B2A;
    
    border-radius: 10px;
}
.a3{
    color: #0D1B2A;
    text-decoration: none;
    font-weight: bold;
}
.footer-box{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 56px 115px;
    background-color: #0D1B2A;
}
.footer-child{
    display: flex;
    gap: 20px;
    
}
.footer-box p{
    color: #FFFFFF;
}
.AI-Generator{
    margin-top: 40px;
    text-align: center;
    padding: 150px 270px;
    border-style: dotted;
    border-color: #7C3AED;
    background-color: #e4deee;
}
.AI-Generator h1{
    color: #7C3AED;
    font-size: 63px;
}
.AI-Generator h2{
    color: #9F67EA;
    font-size: 41px;
}